.career-container{
    background: #050921;
    font-family: 'Inter';

}

h4.head-lg{
    color: rgb(206, 226, 244);
    padding-top: 4rem;
    margin-top: 4rem;
}


h3.heading-lg {
    font-weight: 500;
    font-size: 58px;
    margin-bottom: 20px;
    color: white;
    margin-top: 0px !important;
  }

.career-btn{
    width: 150px;
    height: 50px;
    background-color: #050921 ;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
    border: 1.5px solid #D7D7D7;
    border-radius: 15px;
    box-sizing: border-box;
    margin-right: 10px;

    
}

.career-career-btn{
    padding-top: 2rem;
}

.img_1{
    width: 521.87px;
    height: 412px;
}

.page_container{
    background: #ffffff;
}






.career_img{
    width: 65vw;
    align-items: center;
    margin-left: 15rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}










.container-sm {
    background: #050921;
    font-family: 'Inter';
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .bb {
    width: 100%;
    max-width: 1200px;
  }

  .r {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -150px;
  }
  
  .c {
    flex: 1;
    padding: 0 15px;
  }
  
  .text-center {
    text-align: center;
  }
  
  h3.heading-sm {
    font-size: 29px !important;
    line-height: 40px;
    margin-bottom: 10px;
  }

  h3.heading-sm span {
    color: rgb(206, 226, 244);
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .img-front {
    position: absolute;
    width: 100%;
    height: 350px;
    border-radius: 0 0 50% 50%;
    overflow: hidden;
    margin-top: -400px;
    background: #bbcdec;
  }

  .img-now{
  position: absolute;
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-left: 15%;
  margin-top: -8%;
  }


  .career-btn-sm{
    width: 150px;
    height: 50px;
    background-color: #050921 ;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
    border: 1.5px solid #D7D7D7;
    border-radius: 15px;
    box-sizing: border-box;

    
}


  @media screen and (max-width: 800px) {
    .container-sm {
      padding: 60px;
    }
    
    .heading-sm {
      font-size: 30px;
      margin-left: -10px !important;
      
    }

    .heading-sm span {
        font-size: 20px;
    line-height: 30px;
        
      }
    .btn-success {
      margin-top: -10px;
    }

    .img-imgs{
      height: 300px;
    }
    .career_img {
      margin: 0 auto;
      display: block;
      margin-bottom: 50px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .heading-sm {
      font-size: 35px !important;
      margin-left: -10px !important;
    }

    .heading-sm span {
        font-size: 20px;
    line-height: 30px;
        
      }
    .container-sm {
      padding: 110px !important;
    }
    .btn-success {
      margin-top: -20px;
      width: 120px;
    }
    .career_img {
      margin: 0 auto;
      display: block;
      margin-bottom: 50px;
    }
  }
  