.blocks{
    font-family: 'Inter';
}

.blocks {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.blocks_wrapper{
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
   
}

div .blocks_block{
    text-align: center;
    padding: 3rem 2rem;
}

.blocks_block span {
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
    padding: 0.8rem;
    place-items: center;
    padding-bottom: 2rem;
}

.blocks_block small{
    margin-top: 1rem;
    display: block;
    font-weight: 300;
}
