
.form-group .form-control {
  margin-bottom: 20px;
  background-color: rgb(241, 237, 237);
  border-radius: 0.5rem;
  height: 60px;
}

.container {
  padding: 80px;
  font-family: 'Inter';
}

.container h1 {
  font-weight: 700;
  font-size: 50px;
  margin: 10px;
  padding: 10px;
  line-height: 61px;
}

.container .para {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}

.container .line {
  width: 144px;
  background-color: #ffffff;
  border: 3px solid #a9641f;
}


.btn-primary {
  background-color: #050921;
  width: 106%;
}


.img-container {
  margin-top: -170px;
  margin-left: 200px;
  width: 390px;
  height: auto;
  left: 352px;
  top: 480px;
}

.image-text {
  margin: 8px;
  padding: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.image-text .icon1 {
  width: 28px;
  height: 28px;
  left: 50px;
}

.image-text .icon2 {
  width: 24px;
  height: 24px;
  left: 50px;
}

.image-text .icon3 {
  width: 24px;
  height: 24px;
  left: 50px;
}
@media screen and (max-width: 964px) and (min-width: 769px){
  .img-container {
    margin: 0 auto;
  }
  .btn-primary {
    width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
    max-width: 768px;
    margin: 0 auto;
  }

  .container h1 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }

  .container .para {
    font-size: 17px;
    text-align: center;
  }

  .container .line {
    width: 100px !important;
    margin: 0 auto;
    margin-top: -10px;
  }

  .form-group .form-control {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .btn-primary {
    width: 100%;
    margin: 0 auto;
  }

  .image-text .icon2 {
    margin-left: -35px;
  }

  .image-text .icon3 {
    margin-left: 30px;
  }

  .img-container {
    margin: 0 auto;
    text-align: center;
  }
}

/* Media query for screen width between 481px and 555px */

@media screen and (max-width: 555px) and (min-width: 481px) {
  .form-group .form-control {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

/* Media query for screen width 480px and below */

@media screen and (max-width: 480px) {
  .container {
    padding: 20px;
    max-width: 480px;
    margin: 0 auto;
  }

  .container h1 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }

  .container .para {
    font-size: 17px;
    text-align: center;
  }

  .container .line {
    width: 100px !important;
    margin: 0 auto;
    margin-top: -10px;
  }

  .form-group .form-control {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .btn-primary {
    width: 100%;
    margin: 0 auto;
  }

  .image-text .icon2 {
    margin-left: -30px;
  }

  .image-text .icon3 {
    margin-left: 30px;
  }

  .img-container {
    margin: 0 auto;
    text-align: center;
  }

  .image-text {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 361px) {
  .icon3 {
    margin-left: -1px !important;
  }

}
