/* ContactUshead.css */

.custom-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
   background: #050921;
   color: white;
  font-family: 'Inter'; 
}

.custom-heading {
  text-align: left;
}

.text1 {
  font-size: 67px;
  line-height: 38px;
  margin-bottom: 20px;
}

.text2 {
  font-size: 24px;
  line-height: 46px;
}

.custom-image {
  text-align: right;
}

.image-size {
  width: 600px;
  height: auto;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .custom-container {
    flex-direction: column;
    align-items: center;
   background: #050921;
  }

  .text1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .text2 {
    font-size: 20px;
    line-height: 30px;
  }

  .image-size {
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .text1 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .text2 {
    font-size: 18px;
    line-height: 24px;
  }

  .image-size {
    width: 200px;
  }
}
