@media only screen and (min-width: 992px) {
  .div1 {
    display: flex;
    font-family: "Inter";
    background-color:#050921;
    color: #FFFFFF;
}  

.divc{
height: 536px;
width: 622px;
left: 738px;
top: 336px;
border-radius: 5px;
float: right;
margin-left: 18px;
margin-right: 80px;
}

.text{
color:#FFFFFFCC;
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: left;

}

.title{
color:#A3A5D2;
font-family: Inter;
font-size: 50px;
font-weight: 700;
line-height: 61px;
letter-spacing: 0em;
text-align: left;
margin-top: 100px;
}  

  .hrline {
    border: 2px solid #e7ccb1;
    height: 0px;
    width: 93.09278106689453px;
    left: 0px;
    top: 135.3941650390625px;
    margin-left: 0;
    opacity: 1;
  }

  .imgc {
    height: 689px;
    width: 689px;
    left: 31px;
    top: 255px;
    border-radius: 0px;
  }

  .btnc {
    height: 57.28215789794922px;
    width: 206.8728485107422px;
    left: 0px;
    top: 444.71783447265625px;
    border-radius: 10px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    background-color: #a3a5d2;
  }
}

@media only screen and (max-width: 992px) {
  .div3 {
    display: flex;
    font-family: "Inter";
    background-color: #050921;
    color: #ffffff;
    position: absolute;
    width: 100%;
    height: 620px;
    left: -1px;
    top: 135px;
    padding-bottom: 350px;
  }

  .text {
    position: absolute;
    width: 397px;
    height: 117px;
    left: calc(50% - 397px / 2);
    top: 203px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 11.7761px;
    line-height: 13px;
    text-align: center;
  }

  .title {
    position: absolute;
    width: 217px;
    height: 48px;
    left: calc(50% - 194px / 2);
    top: 90px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #a3a5d2;
  }

  .hrline {
    position: absolute;
    width: 94px;
    height: 0px;
    left:calc(50% - 94px / 2);
    top: 146px;
    opacity: 1;
    border: 1.5px solid #e7ccb1;
  }

  .imgc {
    position: absolute;
    width: 297px;
    height: 289px;
    left: calc(50% - 297px / 2 - 0.5px);
    top: 360px;
  }

  .btnc {
    position: absolute;
    width: 150px;
    height: 35.42px;
    left: calc(50% - 152px / 2);
    top: 339px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 111.52%;
   

    text-align: center;

    color: #050921;
    background: #ffffff;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 1200px){
  .div1{
    height: 170vh;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #050921;
   
  }
  .divc{
   margin-left: 0px;
   margin-right: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
  
  }
  .title{
    text-align: center;
    margin-top: 140px;
  }
  .text{
    text-align: center;
    color: #FFFFFF;
    margin-top: 140px;
  }
  .imgc{
    margin-top: 140px;
  }

  .btnc{
    margin-top: 140px;
    background-color:#a3a5d2;
  }
  .hrline{
    margin-top: 140px;
  }
}

@media only screen and (max-width: 650px){
.div1{
  height: 150vh;
}
  .divc{
  width: 500px;
}

.imgc{
  margin-top: 100px;
  height: 550px;
  width: 550px;
}
}

@media only screen and (max-width: 540px){
  .div1{
    height: 140vh;
  }
  .divc{
  width: 450px;
}
.title{
  font-size: 35px;
}
.text{
  font-size: 18px;
}
.imgc{
  margin-top: 100px;
  height: 500px;
  width: 500px;
}
}

@media only screen and (max-width: 480px){
  .div1{
    height: 130vh;
  }
  .divc{
  width: 350px;
}
.title{
  font-size: 35px;
}
.text{
  font-size: 16px;
}
.imgc{
  margin-top: 130px;
  height: 400px;
  width: 400px;
}
}

@media only screen and (max-width: 380px){
  .div1{
   height: 110vh;
  }
  .divc{
    width: 300px;
  }
  .title{
    font-size: 30px;
  }
  .text{
    font-size: 14px;
  }
  .imgc{
    margin-top: 130px;
    height: 300px;
    width: 300px;
  }
}