@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');



.div1{
  display: flex;
  font-family: "Inter";
  background-color:#050921;
  color: #FFFFFF;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}  


.divc{
height: 536px;
width: 622px;
left: 738px;
top: 336px;
border-radius: 5px;
float: right;
margin-left: 18px;
margin-right: 80px;
}

.text{
color:#FFFFFFCC;
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
margin-top: 0px;
margin-bottom: 22px;
}

.title{
color:#A3A5D2;
font-family: Inter;
font-size: 50px;
font-weight: 700;
line-height: 61px;
letter-spacing: 0em;
margin-top: 25px;
}  

.hrline {
  border: 2px solid #e7ccb1;
  height: 0px;
  width: 93.09278106689453px;
  left: 0px;
  top: 135.3941650390625px;
  margin-left: 0;
  opacity: 1;
}

.imgc {
  height: 689px;
  width: 689px;
  left: 31px;
  top: 255px;
  border-radius: 0px;
}

.btnc {
  height: 57.28215789794922px;
  width: 206.8728485107422px;
  left: 0px;
  top: 444.71783447265625px;
  border-radius: 10px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  color:black;
  background-color:#A3A5D2;
  
}

@media only screen and (max-width: 1200px){
.div1{
  height: 170vh;
  flex-direction: column-reverse;
  align-items: center;
}
.divc{
 margin-left: 0px;
 margin-right: 0px;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 50px;
}
.title{
  text-align: center;
  margin-top: 45px;
}
.text{
  text-align: center;
}
.imgc{
  margin-top: 30px;
}
}

@media only screen and (max-width: 650px){
.div1{
height: 150vh;
}
.divc{
width: 500px;
height:623px;
margin-top: 100px;
}

.imgc{
margin-top: 20px;
height: 550px;
width: 550px;
}
}

@media only screen and (max-width: 540px){
.div1{
  height: 140vh;
}
.divc{
width: 450px;
}
.title{
font-size: 35px;
}
.text{
font-size: 18px;
}
.imgc{
margin-top: 100px;
height: 500px;
width: 500px;
}
}

@media only screen and (max-width: 480px){
.div1{
  height: 140vh;
}
.divc{
width: 350px;
height: 680px;
margin-top: 0px;
}
.title{
font-size: 35px;
margin-top: 100px;
}
.text{
font-size: 16px;
}
.imgc{
margin-top: 20px;
height: 400px;
width: 400px;
}
}

@media only screen and (max-width: 380px){
.div1{
 height: 130vh;
}
.divc{
  width:300px;
  height:680px;
  margin-top: 0px;
}
.title{
  font-size: 30px;
}
.text{
  font-size: 14px;
}
.imgc{
  margin-top: 60px;
  height: 300px;
  width: 300px;
}
}