@media only screen and (max-width: 992px) {
  .div-ab {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: #050921;
    display: flex;
  }
  .div3-ab {
    position: absolute;
    width: 100%;
    height: 399px;
    left: 0px;
    top: -177px;
    border-radius: 50%;
    background: #cceae9;
  }
  .heading-ab {
    position: absolute;
    width: 130px;
    height: 34px;
    left: 24px;
    top: 253px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #ffffff;
  }
  .text-ab {
    position: absolute;
    width: 291px;
    height: 48px;
    left: 25px;
    top: 302px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 133.52%;
    color: #ffffff;
  }
  .btn1-ab {
    position: absolute;
    width: 135px;
    height: 33.75px;
    left: 4.9%;
    top: 370px;
    border-radius: 8.88px;
  }
  .btext-ab {
    position: absolute;
    width: 71.05px;
    bottom: 200px;
    height: 16.36px;
    left: 31.97px;
    top: 10.88px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12.4342px;
    line-height: 111.52%;
    text-align: center;
    color: #050921;
  }
  .imag-ab {
    position: absolute;
    width: 185px;
    height: 134px;
    left: calc(50% - 185px / 2 - 0.5px);
    top: 69px;
  }
}

@media only screen and (min-width: 992px) {
  .div-ab {
    /* position: absolute; */
    width: 100%;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: #050921;
    display: flex;
  }
  .heading-ab {
    position: absolute;
    width: 363px;
    height: 97px;
    left: 72px;
    top: 378px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 97px;
    color: #ffffff;
  }
  .text-ab {
    position: absolute;
    width: 502px;
    height: 81px;
    left: 72px;
    top: 483px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 133.52%;
    color: #ffffff;
  }
  .btn1-ab {
    position: absolute;
    width: 206.87px;
    height: 57.28px;
    left: 72px;
    top: 608px;
    border-radius: 10px;
  }
  .btext-ab {
    position: absolute;
    left: 15%;
    top: 20.27%;
    bottom: 82.94%;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
  }
  .imag-ab {
    position: absolute;
    width: 695px;
    height: 517px;
    left: 667px;
    top: 298px;
  }
  .heading1-ab {
    position: absolute;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    left: calc(50% - 233px / 2 - 0.5px);
    top: 1220px;
    /* identical to box height */

    color: #000000;
  }
  .hr-ab {
    position: absolute;
    border: 2px solid #a9641f;
    width: 153px;
    height: 0px;
    left: 35px;
  }

  .text1-ab {
    position: absolute;
    width: 604px;
    height: 606px;
    left: auto;
    top: 1330px;
    right: 92px;
    bottom: 1939px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 133.52%;
    /* or 29px */

    color: #000000;
  }
  .imag2-ab {
    position: absolute;
    height: 474px;
    width: 539.7796020507812px;
    left: 137px;
    top: 1300px;
    border-radius: 0px;
  }
  .heading2-ab {
    position: absolute;
    width: 294px;
    height: 61px;
    left: calc(50% - 289px / 2 - 300.5px);
    top: 1991px;
    right: 888px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */

    color: #000000;
  }
  .hr2-ab {
    position: absolute;
    width: 153px;
    height: 0px;
    left: 65px;
    right:956px;
    border: 2px solid #a9641f;
  }
  .text2-ab {
    position: absolute;
    width: 672px;
    height: 353px;
    left: 72px;
    top: 2105px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 133.52%;
    /* or 29px */

    color: #000000;
  }
.imag3-ab{
position:absolute;  
height: 428px;
width: 494px;
left: 819px;
top: 2011px;
border-radius: 0px;

}
.heading3-ab{
  position: absolute;
width: 294px;
height: 61px;
left: calc(50% - 252px/2 + 270px);
top: 2607px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 61px;
/* identical to box height */


color: #000000;

}
.hr3-ab{
position: absolute;
width: 153px;
height: 0px;
left: 55px;
border: 2px solid #A9641F;
right:913px;
}
.text3-ab{
position: absolute;
width: 716px;
height: 308px;
left: 682px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 133.52%;
top: 2723px;
right: 92px;
color: #000000;
}
.imag4-ab{
position: absolute;
width: 412px;
height: 412px;
left: 114px;
top: 2607px;
}

}
