a{
    text-decoration: none;
}

/* Blog */
.blog-box2{
    height: 435.4px;

}

#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    background-color: #000137;
}

.blog-heading{
    display: +flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span{
    color: #f33f3f;
}

.blog-heading h3{
    font-size: 2.4rem;
    color: white;
    font-weight: 600;
    border-bottom: 3px solid white;
    padding-bottom: 5px;
    font-family: 'Inter';
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
    
}

.blog-box{
    width: 300px;
    background-color: #000137;
    /* border: 1px solid #ececec; */
    margin: 20px;
    /* top:194px;
    bottom:92px; */
}

.blog-img{
    width: 100%;
    height: 200px;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  
    
}

.blog-text{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color: #f33c3c;
    font-size: 0.9rem;
}

.blog-text .blog-title{
    font-size: 1rem;
    font-weight: 500;
    color: white;
    font-family: 'Inter';
}

.blog-text .blog-title:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}

.blog-text p{
    /* color: #9b9b9b; */
    /* font-size: 0.9rem; */
    /* display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    /* margin: 20px 0px; */
}

.blog-text a{
    color: #0f0f0f;
    
}

.blog-text a:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}

.btn1{
    padding: 0.2rem;
    /* color: #050921; */
    border: none;
    transition: 0.2s;
    margin: 0 10rem 0.5rem 0;
    border-radius: 20px;
    font-size: 0.7rem;
    background-color:#FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13.75px;
    line-height: 17px;
    text-align: center;
}

.btn:hover{
    color: #f33c3c;
    transition: 0.2s;
}

