#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #050921;
}

.blog-heading {
    display: +flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.underline {
    width: 130px;
    height: 0px;
    border: 1px solid #E7CCB1;
    margin: 0 auto;
    margin-bottom: 10px;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: white;
    font-weight: 600;
    padding-bottom: 5px;
    font-family: 'Inter';
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    gap: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.blog-box {
    width: 330px;
    background-color: #050921;
    margin: 20px;
    justify-content: center;
    gap: 200px;
}

.blog-img {
    width: 100%;
    height: 200px;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;


}

.blog-text {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: #070944;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    font-family: 'Inter';
}

.blog-text p {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 280;
    font-size: 15px;
    line-height: 20px;
}

.blog-text a {
    color: #0f0f0f;

}

.btn1 {
    border: none;
    transition: 0.2s;
    margin: 0 10rem 0.5rem 0;
    border-radius: 20px;
    font-size: 0.7rem;
    background-color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13.75px;
    line-height: 17px;
    text-align: center;
    padding: 0.5rem 0.5rem;
}

.btn:hover {
    color: rgb(146, 127, 212);
    transition: 0.2s;
}