.choose-us-header {
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
    padding: 0 170px 0 170px;
    font-family: 'Inter';
    overflow: hidden;
}

.choose-us-header h5 {
    font-weight: bold;
    font-size: 48px;
}

.bottom-line {
    width: 170px;
    height: 0px;
    border: 2px solid #A9641F;
    margin: 0 auto;
    margin-bottom: 10px;
}

.choose-us-header p {
    font-size: 20px;
    font-weight: 500;
    padding: 0 30px 0 30px;
}

.flex {
    display: flex;
    align-items: center;
}

.item {
    font-size: 1.5rem;
}

.choose-us-left {
    margin-left: 20px;
    max-width: 660px;
}

.choose-us-left h3{
    font-size: 26.33px;
    font-weight: 600;
}

.choose-us-left p{
    font-size: 20.69px;
    font-weight: 450;
}

.choose-us-right img {
    padding-right: 30px;
    width: 100%;
}

.choose-us-container {
    justify-content: center;
    gap: 50px;
    margin-bottom: 80px;
}

.choose-us-body{
    font-family: 'Inter';
}

/* __________________Responsiveness_____________________ */

@media only screen and (max-width: 991px) {
    .choose-us-section{
        flex-direction: column-reverse;
    }

    .choose-us-header {
        padding: 0 20px 0 20px;
    }

}