.app-container {
  background: #050921;
  font-family: 'Inter';
}


.container-lg {
  padding: 20px;
  height: 100%;
  display: flex;
  margin-left: 20px;
}


.heading-lg {
  font-weight: 600;
  font-size: 64px;
  margin-bottom: 20px;
  margin-top: 70px !important;
  margin-left: -10px !important;
  color: white;
}



.search-bar-lg {
  display: flex;
  align-items: center;
  
}


.form-control {
  height: 50px;
  width: 600px;
  margin-right: 5px;
}

.btn-success {
  background-color: #4356C8 !important;
  height: 50px;
  width: 154px;
  border: none !important;
}
.btn-success span{
  font-weight: 600;
  font-size: 20px;
}
.btn-success:hover {
  background-color: #ff4081 !important;
}
.imgg-fluid{
  width: 521.87px;
  height: 412px;
  margin-top: -50px;
}


/* CSS code */
.sm {
  background: #050921;
  font-family: 'Inter';
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.bb {
  width: 100%;
  max-width: 1200px;
}

.r {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -150px;
}

.c {
  flex: 1;
  padding: 0 15px;
}

.text-center {
  text-align: center;
}

.heading-sm {
  font-weight: 600;
  font-size: 40px;
  margin-top: 350px !important;
  margin-bottom: 15px;
  color: white;
  text-align: left;
}

.search-bar-sm {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.search-bar-sm input {
  flex: 1;
  margin-right: 5px;
  height: 50px;
}


.present-image {
  position: absolute;
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-left: 18%;
  margin-top: -10%;
}
.img-back {
  position: absolute;
  width: 100%;
  height: 350px;
  border-radius: 0 0 50% 50%;
  overflow: hidden;
  margin-top: -400px;
  background: #BFBFBF;
}

@media screen and (max-width: 1200px) {
  .sm {
    padding: 150px;
  }
}